@media (max-width: 320px) {
  body {
    background: linear-gradient(153deg, #f1e208, #d40707) fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-center; }
    .logo__inner {
      display: flex; }
    .logo__img {
      width: 47px;
      height: 47px; }
    .logo__text {
      font-family: 'Bebas Neue', cursive;
      font-size: 36px;
      color: #014267;
      padding-left: 12px;
      transition: color .5s ease-in-out; }
      .logo__text:hover {
        color: #fff; }
  .social__img {
    height: 28px;
    width: 28px;
    fill: #014267;
    position: relative;
    top: 10px;
    margin-left: 11px;
    transition: fill .2s ease-in-out; }
    .social__img:hover {
      fill: #fff;
      cursor: pointer; }
  .content__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; }
  .content__leftMacaron {
    width: 179px;
    height: 135px;
    position: relative;
    left: -100px; }
  .content__text {
    text-align: center;
    line-height: 80px;
    font-family: "Tahoma";
    color: #fff;
    text-transform: uppercase;
    position: relative;
    left: -100px; }
    .content__text--1 {
      font-size: 53px;
      font-weight: 500; }
    .content__text--2 {
      font-size: 108px; }
    .content__text--3 {
      font-size: 43px;
      font-weight: 500; }
    .content__text--4 {
      font-family: 'Bebas Neue', cursive;
      font-size: 81px;
      letter-spacing: 20px; }
  .content__rightMacaron {
    margin-top: auto; }
    .content__rightMacaron-img {
      position: relative;
      top: 50px;
      left: -100px;
      width: 770px;
      height: 359px; }
  .footer {
    margin-top: auto;
    padding-bottom: 20px; }
    .footer__inner {
      display: flex;
      justify-content: space-between; }
    .footer__contacts {
      text-transform: uppercase;
      color: #fff;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 2px; }
      .footer__contacts-line {
        letter-spacing: 3px; }
        .footer__contacts-line:after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: #fff;
          margin: 10px auto; }
      .footer__contacts-site {
        font-family: 'Quantico', sans-serif;
        font-weight: 600;
        letter-spacing: 1px; }
    .footer__image {
      height: 231px;
      width: 172px;
      position: absolute;
      left: 40%; }
  .sale {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
    .sale--big {
      font-size: 59px;
      line-height: 50px; }
    .sale--small {
      font-size: 22px; }
    .sale:after {
      content: '';
      position: absolute;
      background-color: #ea76b5;
      border-radius: 50%;
      width: 259px;
      height: 259px;
      left: -70%;
      top: -75%;
      z-index: -1; } }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none; }

body {
  background: linear-gradient(153deg, #168cc4, #69cfff) fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.top {
  margin-top: 43px; }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-center; }
  .logo__inner {
    display: flex; }
  .logo__img {
    width: 47px;
    height: 47px; }
  .logo__text {
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    color: #014267;
    padding-left: 12px;
    transition: color .5s ease-in-out; }
    .logo__text:hover {
      color: #fff; }

.social__img {
  height: 28px;
  width: 28px;
  fill: #014267;
  position: relative;
  top: 10px;
  margin-left: 11px;
  transition: fill .2s ease-in-out; }
  .social__img:hover {
    fill: #fff;
    cursor: pointer; }

.content__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; }

.content__leftMacaron {
  width: 179px;
  height: 135px;
  position: relative;
  left: -100px; }

.content__text {
  text-align: center;
  line-height: 80px;
  font-family: "Tahoma";
  color: #fff;
  text-transform: uppercase;
  position: relative;
  left: -100px; }
  .content__text--1 {
    font-size: 53px;
    font-weight: 500; }
  .content__text--2 {
    font-size: 108px; }
  .content__text--3 {
    font-size: 43px;
    font-weight: 500; }
  .content__text--4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 81px;
    letter-spacing: 20px; }

.content__rightMacaron {
  margin-top: auto; }
  .content__rightMacaron-img {
    position: relative;
    top: 50px;
    left: -100px;
    width: 770px;
    height: 359px; }

.footer {
  margin-top: auto;
  padding-bottom: 20px; }
  .footer__inner {
    display: flex;
    justify-content: space-between; }
  .footer__contacts {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px; }
    .footer__contacts-line {
      letter-spacing: 3px; }
      .footer__contacts-line:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin: 10px auto; }
    .footer__contacts-site {
      font-family: 'Quantico', sans-serif;
      font-weight: 600;
      letter-spacing: 1px; }
  .footer__image {
    height: 231px;
    width: 172px;
    position: absolute;
    left: 40%; }

.sale {
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .sale--big {
    font-size: 59px;
    line-height: 50px; }
  .sale--small {
    font-size: 22px; }
  .sale:after {
    content: '';
    position: absolute;
    background-color: #ea76b5;
    border-radius: 50%;
    width: 259px;
    height: 259px;
    left: -70%;
    top: -75%;
    z-index: -1; }

@media (max-width: 320px) {
  body {
    background: linear-gradient(153deg, #f1e208, #d40707) fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-center; }
    .logo__inner {
      display: flex; }
    .logo__img {
      width: 47px;
      height: 47px; }
    .logo__text {
      font-family: 'Bebas Neue', cursive;
      font-size: 36px;
      color: #014267;
      padding-left: 12px;
      transition: color .5s ease-in-out; }
      .logo__text:hover {
        color: #fff; }
  .social__img {
    height: 28px;
    width: 28px;
    fill: #014267;
    position: relative;
    top: 10px;
    margin-left: 11px;
    transition: fill .2s ease-in-out; }
    .social__img:hover {
      fill: #fff;
      cursor: pointer; }
  .content__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; }
  .content__leftMacaron {
    width: 179px;
    height: 135px;
    position: relative;
    left: -100px; }
  .content__text {
    text-align: center;
    line-height: 80px;
    font-family: "Tahoma";
    color: #fff;
    text-transform: uppercase;
    position: relative;
    left: -100px; }
    .content__text--1 {
      font-size: 53px;
      font-weight: 500; }
    .content__text--2 {
      font-size: 108px; }
    .content__text--3 {
      font-size: 43px;
      font-weight: 500; }
    .content__text--4 {
      font-family: 'Bebas Neue', cursive;
      font-size: 81px;
      letter-spacing: 20px; }
  .content__rightMacaron {
    margin-top: auto; }
    .content__rightMacaron-img {
      position: relative;
      top: 50px;
      left: -100px;
      width: 770px;
      height: 359px; }
  .footer {
    margin-top: auto;
    padding-bottom: 20px; }
    .footer__inner {
      display: flex;
      justify-content: space-between; }
    .footer__contacts {
      text-transform: uppercase;
      color: #fff;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 2px; }
      .footer__contacts-line {
        letter-spacing: 3px; }
        .footer__contacts-line:after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: #fff;
          margin: 10px auto; }
      .footer__contacts-site {
        font-family: 'Quantico', sans-serif;
        font-weight: 600;
        letter-spacing: 1px; }
    .footer__image {
      height: 231px;
      width: 172px;
      position: absolute;
      left: 40%; }
  .sale {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
    .sale--big {
      font-size: 59px;
      line-height: 50px; }
    .sale--small {
      font-size: 22px; }
    .sale:after {
      content: '';
      position: absolute;
      background-color: #ea76b5;
      border-radius: 50%;
      width: 259px;
      height: 259px;
      left: -70%;
      top: -75%;
      z-index: -1; } }
