@media (max-width: 1171px) {


    // === Logo ===
    .logo {
        &__img {
            width: 94px;
            height: 94px;
        }

        &__text {
            font-size: 72px;
            padding-left: 15px;
        }
    }

    // === Social ===

    .social__img {
        height: 56px;
        width: 56px;
        top: 15px;
        margin-left: 15px;
    }


    // === Content ===
    .content {
        &__text {
            max-width: 830px;
            line-height: 160px;

            &--1 {
                font-size: 103px;
                font-weight: 500;
            }

            &--2 {
                font-size: 216px;
            }

            &--3 {
                font-size: 172px;
                font-weight: 500;
            }

            &--4 {
                font-size: 162px;
                letter-spacing: 20px;
            }
        }

        &__rightMacaron {
            width: 100%;
            max-width: 750px;

            &-img {
                position: relative;
                top: 50px;
                left: 200px;
                // left: -100px;
                width: 100%;
                max-width: 700px;
                // height: 359px;
            }
        }
    }

    // === Footer ===
    .footer {

        margin-top: 50px;
        padding-bottom: 20px;
    }

    .sale {
        &:after {
            width: 260px;
            height: 260px;
            left: -55%;
            top: -50%;
            z-index: -1;
        }
    }
}

