@media (max-width: 375px) {

    body {
        background: linear-gradient(153deg, #38b82c, #1ba9c2) fixed;
    }

    .container {
        padding: 0 20px;
    }



    // === Social ===

    .social__img {
        display: none;
    }


    // === Content ===
    .content {

        &__text {
            max-width: 330px;
            line-height: 80px;
            position: relative;
            left: 1px;
            top: -150px;

            &--1 {
                font-size: 33px;
                font-weight: 500;
            }

            &--2 {
                font-size: 70px;
            }

            &--3 {
                font-size: 50px;
                font-weight: 500;
            }

            &--4 {
                font-size: 60px;
                letter-spacing: 20px;
            }
        }

        &__rightMacaron {
            width: 100%;
            max-width: 650px;

            &-img {
                position: relative;
                top: -80px;
                left: 25px;
                // left: -100px;
                width: 100%;
                max-width: 700px;
                // height: 359px;
            }
        }
    }

    // === Footer ===
    .footer {

        margin-top: 10px;
        padding-bottom: 20px;

        &__bottomMacaron {
            display: none;
        }

        &__contacts {
            font-size: 12px;

            &-line {
                letter-spacing: 3px;

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    margin: 10px auto;
                }
            }

        }
    }


    .sale {
        &--big {
            font-size: 39px;
            line-height: 50px;
        }

        &--small {
            font-size: 13px;
        }

        &:after {
            width: 180px;
            height: 180px;
            left: -55%;
            top: -50%;
            z-index: -1;
            background-color: rgb(72, 63, 204);

        }
    }
}