 @media (max-width:  320px) {

    
body {
    background: linear-gradient(153deg, #f1e208, #d40707) fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

// === Logo ===
.logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-center;

    &__inner {
        display: flex;
    }

    &__img {
        width: 47px;
        height: 47px;
    }

    &__text {
        font-family: 'Bebas Neue', cursive;
        font-size: 36px;
        color: #014267;
        padding-left: 12px;
        transition: color .5s ease-in-out;

        &:hover {
            color: #fff;
        }
    }
}

// === Social ===

.social__img {
    height: 28px;
    width: 28px;
    fill: #014267;
    position: relative;
    top: 10px;
    margin-left: 11px;
    transition: fill .2s ease-in-out;

    &:hover {
        fill: #fff;
        cursor: pointer;
    }
}

// === Content ===
.content {
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__leftMacaron {
        width: 179px;
        height: 135px;
        position: relative;
        left: -100px;
    }

    &__text {
        text-align: center;
        line-height: 80px;
        font-family: "Tahoma";
        color: #fff;
        text-transform: uppercase;
        position: relative;
        left: -100px;

        &--1 {
            font-size: 53px;
            font-weight: 500;
        }

        &--2 {
            font-size: 108px;
        }

        &--3 {
            font-size: 43px;
            font-weight: 500;
        }

        &--4 {
            font-family: 'Bebas Neue', cursive;
            font-size: 81px;
            letter-spacing: 20px;
        }
    }

    &__rightMacaron {
        margin-top: auto;

        &-img {
            position: relative;
            top: 50px;
            left: -100px;
            width: 770px;
            height: 359px;
        }
    }
}

// === Footer ===
.footer {
    margin-top: auto;
    padding-bottom: 20px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__contacts {
        text-transform: uppercase;
        color: #fff;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;

        &-line {
            letter-spacing: 3px;

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                margin: 10px auto;
            }
        }

        &-site {
            font-family: 'Quantico', sans-serif;
            font-weight: 600;
            letter-spacing: 1px;

        }
    }
    &__image{
        height: 231px;
        width: 172px;
        position: absolute;
        left: 40%;
    }
}


.sale {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;


    &--big {
        font-size: 59px;
        line-height: 50px;
    }

    &--small {
        font-size: 22px;
    }

    &:after {
        content: '';
        position: absolute;
        background-color: rgb(234, 118, 181);
        border-radius: 50%;
        width: 259px;
        height: 259px;
        left: -70%;
        top: -75%;
        z-index: -1;

    }
}

// === / Footer ===
}