* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(153deg, #168cc4, #69cfff) fixed;
}

// === Header ===

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.top {
    margin-top: 43px;
}

// === Logo ===
.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__img {
        width: 47px;
        height: 47px;
    }

    &__text {
        font-family: 'Bebas Neue', cursive;
        font-size: 36px;
        color: #014267;
        padding-left: 12px;
        transition: color .5s ease-in-out;

        &:hover {
            color: #fff;
        }
    }
}

// === Social ===

.social__img {
    height: 28px;
    width: 28px;
    fill: #014267;
    position: relative;
    top: 10px;
    margin-left: 11px;
    transition: fill .2s ease-in-out;

    &:hover {
        fill: #fff;
        cursor: pointer;
    }
}

// === Content ===
.content {

    // position: relative;
    // left: -100px;
    &__inner {
        display: flex;
        // flex-grow: 1;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    &__leftMacaron {
        position: relative;
        left: -100px;

        &-img {
            width: 100%;
            max-width: 162px;
        }
    }

    &__text {
        width: 100%;
        max-width: 430px;
        text-align: center;
        line-height: 80px;
        font-family: "Tahoma";
        color: #fff;
        text-transform: uppercase;

        &--1 {
            font-size: 53px;
            font-weight: 500;
        }

        &--2 {
            font-size: 108px;
        }

        &--3 {
            font-size: 43px;
            font-weight: 500;
        }

        &--4 {
            font-family: 'Bebas Neue', cursive;
            font-size: 81px;
            letter-spacing: 20px;
        }
    }

    &__rightMacaron {
        width: 100%;
        max-width: 550px;
        display: flex;
        align-items: flex-end;

        &-img {
            position: relative;
            top: 50px;
            // left: -100px;
            width: 100%;
            max-width: 700px;
            // height: 359px;
        }
    }
}

// === Footer ===
.footer {

    margin-top: auto;
    padding-bottom: 20px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // flex-basis: 10%;
    }

    &__contacts {
        text-transform: uppercase;
        color: #fff;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;

        &-line {
            letter-spacing: 3px;

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                margin: 10px auto;
            }
        }

        &-site {
            font-family: 'Quantico', sans-serif;
            font-weight: 600;
            letter-spacing: 1px;

        }
    }

    &__bottomMacaron {
        position: relative;
        top: 10px;

        &-img {
            position: absolute;
            left: -100px;
            max-width: 200px;
        }
    }
}




.sale {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;


    &--big {
        font-size: 59px;
        line-height: 50px;
    }

    &--small {
        font-size: 22px;
    }

    &:after {
        content: '';
        position: absolute;
        background-color: rgb(234, 118, 181);
        border-radius: 50%;
        width: 260px;
        height: 260px;
        left: -75%;
        top: -40%;
        z-index: -1;

    }
}

// === / Footer ===